@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kalam', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.lista-letra {
  list-style-type: none;
  max-height: 46vh;
  overflow-y: auto;
}
