@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

body {
  font-family: "Fuzzy Bubbles", cursive;
  margin: 0;
}
.contenedor {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}

.respuestas {
  margin: 10px 0;
}

ul {
  list-style-type: decimal;
}

ul.principal {
  list-style-type: disc;
}

img {
  max-height: 400px;
}

.menu {
  background: black;
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-menu li {
  padding: 5px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

h1 {
  color: blueviolet;
}